.view {

}

#totalLabel {
    -fx-font-size: 16px;
    -fx-background-color: #009688;
    -fx-text-fill: #fafafa;
}

#totalDigits{
    -fx-font-size: 16px;
    -fx-background-color: #009688;
    -fx-text-fill: #fafafa;

}
